[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyperclip = "*"
appdirs = "*"
tqdm = "*"
tomli = "*"
tomli-w = "*"

[dev-packages]
ruff = "*"
black = "*"
yapf = "*"

[requires]
python_version = "3.10"
